@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.scale-up {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out, z-index 0s,
    background-color 0.3s ease-in-out;
  z-index: 0;
  position: relative;
  background-color: transparent; // Default background
}

.scale-up:hover {
  transform: scale(1.2);
  z-index: 10;
  background-color: #333333; // Light muted gray
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
